.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 220px;
  min-height: 400px;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;

  &:hover {
    box-shadow: 0 1px 8px -1px var(--rgba-1);
  }

  .img-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 300px;

    span {
      opacity: 0;
      transition: opacity 200ms ease-in;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      background-color: var(--white);
      border-radius: 50%;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 99;

      svg {
        color: var(--black);
        font-size: 20px;
      }

      &:hover {
        svg {
          color: var(--red);
        }
      }
    }

    img {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 220px;
      height: 300px;
      object-fit: cover;
      transition: opacity 200ms ease-in;
    }

    .img1 {
      opacity: 1;
    }

    .img2 {
      opacity: 0;
    }

    &:hover {
      span {
        opacity: 1;
      }

      .img1 {
        opacity: 0;
      }

      .img2 {
        opacity: 1;
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    gap: 0.2rem;

    .title {
      text-align: center;
      font-size: 14px;
      color: var(--gray);
    }

    .price {
      font-size: 16px;
      color: var(--red);
      margin-bottom: 0.2rem;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      box-shadow: 0 0 0 1px var(--black);
      color: var(--black);
      background-color: var(--white);
      padding: 0.5rem 1rem;
      font-size: 14px;

      svg {
        font-size: 18px;
      }

      &:hover {
        color: var(--white);
        background-color: var(--black);
      }
    }
  }
}

@media screen and (max-width:300px) {}