.menwoman {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;

  .right,
  .left {
    position: relative;
    height: 100%;
    transition: scale 300ms ease-in;

    &:hover {
      scale: 1.01;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;

    }

    button {
      position: absolute;
      bottom: 2.5rem;
      left: 50%;
      transform: translate(-50%, 0);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 180px;
      padding: 0.85rem 1.25rem;
      background-color: var(--black);
      color: var(--white);
      border-radius: 0.2rem;
      font-weight: 700;
      font-size: 18px;
      box-shadow: 0 0 0 2px var(--white);

      &:hover {
        background-color: inherit;
      }

    }
  }
}

@media screen and (max-width:810px) {
  .menwoman {
    flex-direction: column;
    height: 100%;

    .right,
    .left {
      height: 50%;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}


@media screen and (max-width:535px) {
  .menwoman {
    flex-direction: column;
    justify-content: center;

    .right,
    .left {
      width: 100%;
      height: 100%;

      button {
        width: 140px;
        padding: 0.5rem 1rem;
        font-size: 14px;
      }
    }
  }
}