.top-section {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  font-size: 12px;

  svg {
    font-size: 18px;
  }

  hr {
    height: 1rem;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .item {
      padding: 0.2rem;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    a {
      color: var(--white);
    }

    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

@media screen and (max-width:500px) {
  .top-section {
    font-size: 10px;

    .item {
      svg {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width:390px) {
  .top-section {

    .right {

      .item.language,
      .item.currency,
      hr {
        display: none;
      }
    }
  }
}